@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

:root {
 --Dark-cyan--: hsl(158, 36%, 37%);
 --Cream--: hsl(30, 38%, 92%);
 --Very-dark-blue--: hsl(212, 21%, 14%);
 --Dark-grayish-blue--: hsl(228, 12%, 48%);
 --White--: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Cream--);
}

.content {
  background-color: var(--White--);
  padding: 2.4rem;
  border-radius: 0 0 25px 25px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  display: block;
  width: 36rem;
  margin: 5rem;
}

.gallery {
  border-radius: 25px 25px 0 0;
}

.attribution { 
  margin: 2.5rem auto;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1 {
  font-family: 'Fraunces';
  display: block;
  font-weight: 700;
  font-size: 4rem;
  color: var(--Very-dark-blue--);
}

.description, h3 {
  color: var(--Dark-grayish-blue--);
  font-family: 'Montserrat', serif;
}

.description {
  padding: 2rem 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.price1, .price2 {
  display: inline;
}

.price1 {
  font-size: 5rem;
  color: var(--Dark-cyan--);
  font-weight: 700;
  margin-right: 2rem;
  font-family: 'Fraunces', serif;
}

.price2 {
  text-decoration: line-through;
  color: var(--Dark-grayish-blue--);
  font-size: 1.6rem;  
}

.button {
  padding: 2rem 10rem;
  background-color: var(--Dark-cyan--);
  border-style: none;
  border-radius: 10px;
  color: var(--White--);
  margin-top: 2rem;
}

.cart {
  display: inline;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.button:hover {
  background-color: rgb(6, 37, 6);
}

/*Media*/

@media screen and (min-width: 1440px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gallery {
      border-radius: 25px 0 0 25px;
    }

    .content {
      border-radius: 0 25px 25px 0;
      padding: 2rem;
    }
}